<section>
		<article class="col-md-7 listing">
				<header id="<%= dom_id(@last) %>"class="blog_title">
					<h2 class="title">
						
						<span><%= @last.created_at.strftime("%-d %b") %></span>
						
							<%= @last.title%>
						<!--<span class="pull-right">//TAGS: <%= raw @last.tag_list.map { |t| link_to t, tag_path(t) }.join('//') %></span>-->
					</h2>
				</header>
				<p><%= simple_format @last.post %></p>
				<% if current_user %>
					<%= link_to 'Show', @last %>
					<%= link_to 'Edit', edit_blog_path(@last) %>
					<%= link_to 'Destroy', @last, method: :delete, data: { confirm: 'Are you sure?' } %>
				<% end %>
				
			
		</article>
</section>
<section>
		<aside class="col-md-4 col-md-push-1 listing">
			<h2>Previous Posts</h2>
			<% @blogs.each do |blog| %>
				<% unless blog.title == @last.title %>
					<p><%= link_to blog.title, blog %></p>
				<% end %>
			<% end %>
			<h2> Ways you can help!</h2>
			<section>
				<p>
					<b>Become an Upstart backer <script>mail2("andreij6","gmail",0,"","Email Me")</script> to get a free $100 to invest</b>
					
				</p><hr />
				<p>
					Share <br />
					<%= tweet(message).html_safe %>
					<div class="g-plusone"></div>
				</p><hr />
			</section><br/>
		
			
		  	
		</aside>
</section>
